<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.sensitive.mapper.SysSensitiveWordMapper">
    <select id="selectEnabledSensitiveWords" resultType="org.dromara.sensitive.domain.SysSensitiveWord">
        SELECT id, word, status, create_by, create_time, update_by, update_time, remark
        FROM sys_sensitive_word
        WHERE status = 1
    </select>
</mapper>
